@import "tailwindcss";

:root {
  --font-inter: var(--font-inter);
  --font-roboto-mono: var(--font-roboto-mono);
}

/* Định nghĩa dark mode nếu được kích hoạt */
@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
    --background: #0a0a0a;
  }
}

body {
  margin: 0;
  padding: 0;
}
